p {
    color: blue;
}

h1 {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    font-size: large;
    color: green;
    font-weight: 10000;
}

img {
    padding: 100px;
}

body{
    margin: 50px;
}

.introduction {
    font-style: italic;
    color: purple;
}